<div class = "eventQueue">
	<h1>Order Queue</h1>
</div>

<div class = "hostsMenu">
    <form id = "hostsMenu">
    <h2>Current Menu</h2>
        <ul>
	    <% if (menu.drinks !== undefined){
	    	for (var i = 0; i < menu.drinks.length; i++){ %>
	    		<div class="panel panel-primary">
		    		<div class="panel-heading" data-drink="<%= menu.drinks[i].drink %>"> 
		    			<%= menu.drinks[i].drink + " (" + menu.drinks[i].stock + ")"%>
		    			<input type='button' class = "btn btn-xs btn-default removeDrink" id="remove-drink" value = "Remove">
		    		</div>
		    		<div class="panel-body">
			    		<input type="text" id="<%=menu.drinks[i].drink%>"name="<%=menu.drinks[i].drink + "stock"%>" value="">
			    		<input type="button" class="btn btn-sm btn-primary" id="setStock" data-drink="<%= menu.drinks[i].drink %>" data-menu-id="<%= queueID %>" value="Set Stock">
		    		</div>
		    	</div>
	    		<br>
	    	<% } %>
		<% } %>
		<div class="panel panel-primary"> 
			<div class="panel-body">
				<input type="text" id="customName" data-menu-id="<%= queueID %>" value="Enter Drink">
				<input type="text" id="customStock" data-menu-id="<%= queueID %>" value="Enter Stock">
				<input type="button" class="btn btn-sm btn-primary" id="addCustomDrink" value="Add Drink">
			</div>
		</div> 
	</form>
</div>