<div class="guestMenu">
    <div class="menu" data-id = <%= menu_id %>>
        <h1>Menu</h1>

        <p><%= eventName %></p>
        <% if (showMenu) { %>
            <ul>
            <% for (var i = 0; i < drinks.length; i++){ %>
            	<% if (drinks[i].stock > 0) { %>
            		<li> <%= drinks[i].drink + ": " + drinks[i].stock %>
            		<button class="btn btn-sm btn-primary" id="submit-dibs" data-drink="<%=drinks[i].drink %>">Dibs!</button>
            		</li>
            	<% } %>
        	<% } %>
        	</ul>
        <% } else { %>
            <p>Sorry, you've reached the drink limit!</p>
        <% } %>
    </div>
    <div class="currentOrders">
        <h1>Your Current Orders</h1>
        <% for (var i=0; i<orders.length; i++) { %>
            <div>
                <p><%= orders[i].ordered %>: <%= orders[i]._status %></p>
            </div>
        <% } %>
    </div>
</div>
